.DS_Store
.htmlhintrc
.stylelintrc
.eslintrc.json

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Local History for Visual Studio Code
.history/